
!!! 5
html
  head
    title watchn
    link(rel='stylesheet', href='../stylesheets/style.css')
    script(type='text/javascript', src='../javascripts/app.min.js')
  body
    h1 watchn
    p Welcome to watchn
